<?xml version="1.0" encoding="UTF-8"?>
<server description="mpServer">

    <featureManager>
    	<feature>jaxRs-2.1</feature>
        <!-- <feature>mpJwt-1.1</feature> -->
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"/>

    <application location="/opt/workspace/2018-12/microprofile_lb/microprofile-universite-demo/microprofile-parent/mp-jwt/target/mp-jwt.war" context-root="/"/>


    <!-- <keyStore id="defaultKeyStore" location="keystore.jks" type="JKS" password="secret" /> -->

    <!-- <mpJwt id="jwtUserConsumer" keyName="default" audiences="mp-app,account" issuer="${jwt.issuer}" 
    	jwksUri="${jwt.jwksUri}" userNameAttribute="upn" /> -->
</server>
